nav ul {
    margin: 1%;
    padding: 0%;
}

nav ul li {
    list-style: none;
    display: inline-block;
}

nav {
    padding: 1px;
    background-color: black
}

nav a {
    text-decoration: none;
    background-color: rgb(255, 15, 15);
    padding: 8px;
}